<h2><b>If Elif and Else Statements</h2></b>

It allows us to check for multiple expressions. If the condition for if is False , it checks the condition of the next elif block and so on. If all the conditions are False , the body of else is executed.

Control flow, only certain code is excuted:

* if
* elif 
* else

   if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

In [7]:
hungry = False 

if hungry:
    print('FEED ME!')
else:
    print('I am not hungry')

I am not hungry

In [10]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print('I do not know much.')

Money is cool

In [11]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print('Hello Sammy')
else: 
    print("What is your name?")

Hello Sammy

<h2><b>For Loops</h2></b>

used for <b>iterating over a sequence</b> (that is either a list, a tuple, a dictionary, a set, or a string). This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

In [12]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [13]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [20]:
# Checking for even numbers 
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [26]:
list_sum = 0 

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [27]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [29]:
# Iteration for a Tuple

tup = (1,2,3)

for x in tup:
    print(x)

1
2
3

In [37]:
# Tuple unpacking

mylist = [(1,2), (3,4), (5,6), (7,8)]

In [32]:
len(mylist)

4

In [35]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [41]:
# Duplicatingn the structure of an item to unpack them

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [43]:
mylist = [(1,2,3), (5,6,7), (8,9,10)]

for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [45]:
# Another way to upnack this type of Tuple

for (a, b, c) in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
5
6
7
8
9
10

In [47]:
# Iterating through a dictionary 
# By defult when iterating you only iterate through the 'Keys'

d = {'k1': 1, 'k2': 2, 'k3': 3}

for item in d:
    print(item)

k1
k2
k3

In [48]:
# To call by pair

d = {'k1': 1, 'k2': 2, 'k3': 3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [50]:
# Another way to unpack a dictionary 
# REMEMBER dictionaries are unordered

d = {'k1': 1, 'k2': 2, 'k3': 3}

for key, value in d.items():
    print(value)
    print(key)

1
k1
2
k2
3
k3

<h2><b>While Loops</h2></b>

is <b>used to iterate over a block of code as long as the test expression (condition) is true</b>. We generally use this loop when we don't know the number of times to iterate beforehand.

* Break
* Continue
* Pass

We can use break, continue, and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

break: Breaks out of the current closest enclosing loop.
continue: Goes to the top of the closest enclosing loop.
pass: Does nothing at all.

In [55]:
x = 0

while x < 5:
    print(f'The current value of X is {x}')
   # x = x + 1
    x += 1
else:
    print('X IS NOT LESS THAN 5')

The current value of X is 0
The current value of X is 1
The current value of X is 2
The current value of X is 3
The current value of X is 4
X IS NOT LESS THAN 5

In [58]:
# Using "Pass" - when writing a while loop, you can us pass as place holder

x = [1,2,3]

for item in x:
    pass

print('End of my script')

End of my script

In [60]:
# Using "Continue"- e.i. if you want it to skip a characted. Continue will allow loop to pass and go back to top

mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [61]:
# Using "Break"- using break will cause for the loop to break - stop

mystring = 'Sammie'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [65]:
x = 0

while x > 5:
    if x == 2:
        break
    print(x)
    x += 1

<h2><b>Useful Operators in Python</h2></b>

There are a few built-in functions and "operators":

* <mark>Range:</mark> The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number
* <mark>Enumerate:</mark> The enumerate function in Python converts a data collection object into an enumerate object. Enumerate returns an object that contains a counter as a key for each value within an object, making items within the collection easier to access.
* <mark>Zip:</mark> Returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.
* <mark>In:</mark> A keyword during the for loop, but we can also use it to quickly check if an object is in a list.
* <mark>Min:</mark> Returns the item with the lowest value, or the item with the lowest value in an iterable.
* <mark>Max:</mark> Returns the item with the highest value, or the item with the highest value in an iterable. If the values are strings, an alphabetically comparison is done.
* <mark>Random:</mark> Random module is an in-built module of Python which is used to generate random numbers. These are pseudo-random numbers means these are not truly random. This module can be used to perform random actions such as generating random numbers, print random a value for a list or string, etc.
* <mark>Input:</mark> Is use to take input from the user. Whatever you enter as input, the input function converts it into a string. If you enter an integer value still input() function convert it into a string.
* <mark>List Comprehension:</mark> Are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

In [67]:
# Range example 1

for num in range (10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [68]:
# Range example 2

for num in range(2,10):
    print(num)

2
3
4
5
6
7
8
9

In [71]:
# Range example 3

for num in range (0,10,2):
    print(num)

0
2
4
6
8

In [72]:
# Range is a genrator, if wanted in a list of numbers you need to cast it

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [1]:
# Enumerate
# Very useful function to use with for loops. For keeping track of how many loops you've gone through
# Enumerate was created so you don't need to worry about creating and updating this index_count or loop_count variable

index_count = 0

for letter in 'abcd':
    print ('At inder {} the letter is {}'.format(index_count, letter))

At inder 0 the letter is a
At inder 0 the letter is b
At inder 0 the letter is c
At inder 0 the letter is d

In [3]:
word = 'abcd'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d

In [7]:
# Zip is a Tuple unpacking tool
# Keep in mind this function only returns values up to the shortest list 
# Three items can be unpack with Zip

mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [8]:
# If you just want to get the list for itself you can cast all togehter 

list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [9]:
# IN opetator

'x' in [1,2,3,]

False

In [10]:
'x' in ['x','y','z']

True

In [12]:
# Using IN in a dictionary 

'mykey' in {'mykey': 345}

True

In [13]:
d = {'mykey': 345}

345 in d.values()

True

In [15]:
# Min and Max functions

mylist = [10,20,30,40,100]

min(mylist)

10

In [16]:
max(mylist)

100

In [17]:
# Random Library 

from random import shuffle

mylist = [10,20,30,1,2,3,40,100]

shuffle(mylist)

In [18]:
mylist

[20, 2, 40, 3, 100, 30, 1, 10]

In [24]:
# Imporating random integers
# Randint renturns a value. Therefore, we are able to save this as a variable 

from random import randint

randint(0,100)

99

In [22]:
randint(0,20)

0

In [23]:
mynum = randint(0,10)

mynum

9

In [29]:
# Input 

result = int(input ('Enter a number: '))

Enter a number: 30

<h2><b>List Comprehensions</h2></b>

In [31]:
mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [32]:
mylist

['h', 'e', 'l', 'l', 'o']

In [39]:
# More efficient way to iterate through example above
# Flatten out FOR LOOP

mylist = [letter for letter in mystring]

In [34]:
mylist

['h', 'e', 'l', 'l', 'o']

In [35]:
# Example 2

mylist =[x for x in 'word']

In [36]:
mylist

['w', 'o', 'r', 'd']

In [37]:
# Example 3

mylist = [x for x in range(0,11)]

In [38]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
# Example 4: Squared versions 

mylist = [num**2 for num in range(0,11)]

In [41]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
# Example 5: Checking with IF statements 

mylist = [x for x in range(0,11) if x %2 == 0]

In [43]:
mylist

[0, 2, 4, 6, 8, 10]

In [44]:
# Example 6: More complicates example. Convert celcius to Fahrenheit

celcius = [0, 10, 20, 34.5]

fahrenheit = [((9/5) * temp +32) for temp in celcius]

In [45]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [46]:
# Example 6 explained in a FOR LOOP

fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5) * temp + 32)

In [47]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [48]:
# Not recommended, but using IF ELSE in a flatten out loop

results = [x if x %2 ==0 else 'ODD' for x in range(0,11)]

In [49]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [50]:
# NESTED LOOP

mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [51]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]