Section 3: Object and Data Structures Basics

- e.i. Strings, floats, bools

In [6]:
a = 5

In [7]:
a = 10

In [9]:
a = a + a

In [8]:
myIncome = 200
taxRate = 0.1

myTaxes = myIncome + taxRate

In [3]:
'hello there'

'hello there'

In [4]:
"how are you"

'how are you'

In [5]:
"I'm okay"

"I'm okay"

In [12]:
print ('Yummy \nYummiest')

Yummy
Yummiest

In [1]:
len ('I am ')

5

In [2]:
print ('Yumm /tYummers')

Yumm /tYummers

In [3]:
myString = "Yellow, what is your name?"

In [4]:
myString

'Yellow, what is your name?'

In [5]:
myString[5]

'w'

In [6]:
myString[10]

'a'

In [7]:
myString [-3]

'm'

<b>Slicing</b> is a sub-section on a string

In [8]:
myString

'Yellow, what is your name?'

In [9]:
myString = 'abcdefghijk'

In [10]:
myString

'abcdefghijk'

In [11]:
myString[3]

'd'

In [12]:
myString[3:]

'defghijk'

In [13]:
myString[:3]

'abc'

In [15]:
myString [3:6]

'def'

In [16]:
myString[1:3]

'bc'

In [17]:
myString [4:7]

'efg'

Step side in slicng works and is anototed liek this <b>[::]</b>. When adding a number in front of it it means it from e.i 1 and jumps/ counts in 3's. See code below. Another step side example you can do is my String [2:7:3], which can be use a method to reverse a string.

myString [1::3]

To <b>reverse a string</b> EX: myString [::-1]

<h2><b>Immutability</h2></b> String contactination

In [20]:
name = "Sam"

In [21]:
# name[0] = 'P'

In [24]:
lastLetter = name[1:]

In [25]:
"P" + lastLetter

'Pam'

In [34]:
x = 'Hello world! '

In [33]:
x = x + "it is beautiful outside!"

'Hello world!it is beautiful outside!'

In [35]:
letter = 'z'

letter * 10

<h2><b>Methods</h2></b> in Python

In [37]:
x = 'Hello World'

In [38]:
x.upper()

'HELLO WORLD'

In [39]:
x.lower()

'hello world'

In [40]:
x.split()

['Hello', 'World']

In [41]:
x = 'Hi this is string'

In [42]:
x.split()

['Hi', 'this', 'is', 'string']

In [44]:
x.split('i')

['H', ' th', 's ', 's str', 'ng']

<h2><b>Print Formatting with Strings</h2></b> 
A way to format onjects into your string for print statement with the <b>string.format()</b>

In [3]:
print ('this is a string {}'.format('INSERTED'))

this is a string INSERTED

You can use the <b>.format</b> method to index. See below

In [5]:
print ('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [8]:
# We can also repeat the index

print ('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [11]:
# We can also assigned keywords

print ('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

The quick brown fox

<b>FLOAT</b> foramting allows you to adjust the width and precision of your float point number.

In [12]:
result = 100/777

In [13]:
result

0.1287001287001287

In [19]:
# Float formatting follows "{value:width.precisionf}"

print ("The result was {r:1.3f}".format(r = result))

The result was 0.129

In [22]:
# Another way to print in "f" format 

name = "Grace"

print (f'Hello, her name is {name}')

Hello, her name is Grace

In [23]:
# "f" works with multiple variables. Thi is very quick way to do string interpolation which is just injecting

name = 'Jerry'
age = 5

print (f'{name} is {age} years old.')

Jerry is 5 years old.

<h2><b>Lists in Python</h2></b>

In [2]:
myList = [1, 2, 3]

In [3]:
myList = ['STRING', 100, 23.2]

In [4]:
len(myList)

3

In [5]:
mylist = ["one", "two", "three"]

In [6]:
mylist

['one', 'two', 'three']

In [7]:
anotherList = ["four", "five"]

In [8]:
mylist + anotherList

['one', 'two', 'three', 'four', 'five']

In [10]:
newList = mylist + anotherList

In [11]:
newList

['one', 'two', 'three', 'four', 'five']

In [23]:
# To mutate a list

newList[0] = 'ONE ALL CAPS'

# To append a List
# Append allows you to add to a list 

newList.append('six')

In [22]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'six']

In [25]:
# Pop method

newList.pop()

'six'

In [26]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'six']

In [27]:
poppedItem = newList.pop()

In [28]:
poppedItem

'six'

In [29]:
newList.pop(0)

'ONE ALL CAPS'

In [30]:
newList

['two', 'three', 'four', 'five', 'six']

In [35]:
newList = ['a', 'e', 'x', 'b', 'c']
numList = [4, 1, 8, 3]

In [32]:
newList.sort()

In [33]:
newList

['a', 'b', 'c', 'e', 'x']

In [36]:
numList

[4, 1, 8, 3]

In [38]:
numList.sort()

<h2><b>Dictionaries in Python</h2></b>

Dictionaries are mapping and no not retain order.

When to choose a dictionary or a list:
<b>Dictionaries:</b> Objets retrieved by key name

Unordered and can not be sorted.
When to use? When you want to quickly retrieve a value without needing to know its exact index location.
<b>Lists:</b> Objects retrieve by location.

Ordered Sequence can be indexed or sliced. 
When to use? List can retrieve object by location. It allows the actual list to be indexed, sliced and then sorted.

In [3]:
myDict = {'key1':'value1', 'key2':'value2'}

In [4]:
myDict

{'key1': 'value1', 'key2': 'value2'}

In [5]:
myDict['key1']

'value1'

In [7]:
# Key value pairs examples

prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.99}

In [8]:
prices_lookup['apple']

2.99

In [12]:
d = {'K1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}

In [13]:
d['k2']

[0, 1, 2]

In [15]:
# Stacking index calls or key calls to back values you want 

d['k3']['insideKey']

100

In [16]:
d = {'key1':['a', 'b', 'c']}

In [17]:
mylist = d['key1']

In [18]:
mylist

['a', 'b', 'c']

In [22]:
letter = mylist[2]

In [23]:
letter

'c'

In [24]:
letter.upper()

'C'

In [26]:
# Adding a new key value pair to a dictionary 

d = {'k1':100, 'k2': 200}

In [27]:
d

{'k1': 100, 'k2': 200}

In [29]:
d['k3'] = 300

In [30]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [33]:
# To override an existing value

d['k1'] = 'NEW VALUE'

In [34]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [35]:
# Grabbing all keys from a dictionary 

d = {'k1': 100, 'k2': 200, 'k3': 300}

In [37]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [38]:
# For the values

d.values()

dict_values([100, 200, 300])

In [39]:
# For all pairings together

d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

<h2><b>Tuples with Python</h2></b>
are very similar to Lists. However, they can not be immutated. Elements inside a Tuple cannot not be reassigned.

In [1]:
t = (1, 2, 3)

In [2]:
myList = [1, 2, 3]

In [4]:
len(t)

3

In [7]:
# Like a list we can have String or variable in a Tuple

t = ('one', 2)

In [8]:
# Like a list you can also gab at index e.i. 0

t[1]

2

In [9]:
t[-2]

'one'

In [11]:
# There are two special methods for Tuples

t = ('a', 'a', 'b')

In [13]:
t.count('a')

2

In [14]:
t.index('a')

0

In [15]:
t.index('b')

2

In [18]:
# Tuples does nto support item assigment. See List below:

myList[0] = 'NEW'

In [17]:
myList

['NEW', 2, 3]

<h2><b>Sets in Python</h2></b> 
It has to be unique values, if you try to repeat a value it won't take it e.i. 1, 2 and you pass 2 Output will be 1,2

In [19]:
mySet = set()

In [20]:
mySet

set()

In [22]:
mySet.add(1)

In [23]:
mySet

{1}

In [24]:
mySet.add(2)

In [25]:
mySet

{1, 2}

In [26]:
myList = [1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3]

In [28]:
# Casting a List as a Set and you get back only unique. Sets do not Ouput Sorted-Index values.

set(myList)

{1, 2, 3}

<h2><b>Booleans in Python</h2></b>

In [30]:
1 > 2

False

In [31]:
1 == 1

True

In [34]:
# None is place holder

b = None

<h2><b>I/O with Basic Files in Python</h2></b>

In [36]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [37]:
myfile = open('myfile.txt')

In [38]:
pwd

'/Users/graceart/My Python Udemy'

In [40]:
myfile = open('myfile.txt')

In [42]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [51]:
# To Reset cursor to re-read the file from beginning

myfile.seek(0)

0

In [54]:
contents = myfile.read()

In [53]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [55]:
myfile.seek(0)

0

In [57]:
# To get line in a single line while reading

myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

<b><h1>File Locations</b></h1> simply pass in the entire file path.

For Windows: <mark >myfile = open("C:\\Users\\UserName\\Folder\\test.txt")</mark>

For Mac: <mark >myfile = open("/Users/YourUserName/Folder/myfile.txt")</mark>

In [58]:
pwd

'/Users/graceart/My Python Udemy'

In [59]:
myfile.close()

In [62]:
# How to open a File without worrying about closing 

with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [68]:
# Reading, writing to a file, modifying
# W = to Write only (will overwrite files or create new), R = to read only, A = append. Sometimes you need permisions R&W or vice 
# R+ = R & W, W+ = W & R. Overwites existing files or creates a new file. 

with open('myfile.txt', mode = 'r') as myfile:
    contents = myfile.read()

In [69]:
%%writefile my_new_file.txt
ONE ON FIRST 
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [70]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [75]:
with open ('my_new_file.txt', mode = 'a') as f: 
    f.write('\nFOUR ON FOURTH')

In [76]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH
FOUR ON FOURTH

In [81]:
with open ('khgafkdghajgag;aioereg.txt', mode = 'w') as f: 
    f.write('I CREATED THIS FILE')

In [82]:
with open('khgafkdghajgag;aioereg.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE