### Daytime

The datetime module supplies classes for manipulating dates and times. While date and time arithmetic is supported, the focus of the implementation is on efficient attribute extraction for output formatting and manipulation.

In [5]:
# Example: Create objects on date/ time 
import datetime

mytime = datetime.time(2,20)

mytime.minute
mytime.hour

2

In [6]:
print(mytime)

02:20:00

To keep getting all the hours, minute or microsecond just keep going through the levels require 
in parameters requirements

In [8]:
# Exploring DATE objects 

today = datetime.date.today()

# Follows European standard time standard time
# All of the outputs on today are attributes so we are able to grab the years, the month, etc
print(today)

today.month

2022-08-16

8

In [9]:
# example:
today.ctime()

# Information that provides both datetime/ datetime
from datetime import datetime
datetime = (2021, 10, 3, 24, 20, 1)

mydatetime(datetime)

print(mydatetime)

NameError: name 'mydatetime' is not defined

### Dates
datetime (as you might suspect) also allows us to work with date timestamps. Calendar date values are represented with the date class. Instances have attributes for year, month, and day. It is easy to create a date representing todayâ€™s date using the today() class method.

In [11]:
today = datetime.date.today()
print(today)
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

AttributeError: 'tuple' object has no attribute 'date'

### Arithmetic 
We can perform arithmetic on date objects to check for time differences.

In [24]:
# Example 1: The difference in days between the two dates

from datetime import date

In [18]:
date1 = date(2021, 11, 3)
date2 = date(2020, 11, 3)

result = date1 - date2

In [16]:
result.days

365

In [25]:
# Example 2: Returning back dates and returning back seconds
# We can encounter these situations when dealing with databases

datetime1 = datetime(2021, 11, 3, 22, 0)
datetime2 = datetime(2020, 11, 3, 12, 0)

datetime1 - datetime2

TypeError: 'tuple' object is not callable